# Date Functionality in Pandas

In [1]:
import pandas as pd
import numpy as np

### Timestamp

In [4]:
pd.Timestamp('9/1/2016 10:05AM')

Timestamp('2016-09-01 10:05:00')

### Period

In [5]:
pd.Period('1/2016')

Period('2016-01', 'M')

In [6]:
pd.Period('30/4/1997')

Period('1997-04-30', 'D')

### DatetimeIndex

In [8]:
t1 = pd.Series(list('abc'), [pd.Timestamp('2016-09-01'), pd.Timestamp('2016-09-02'), pd.Timestamp('2016-09-03')])
t1

2016-09-01    a
2016-09-02    b
2016-09-03    c
dtype: object

In [9]:
type(t1.index)

pandas.core.indexes.datetimes.DatetimeIndex

### PeriodIndex

In [10]:
t2 = pd.Series(list('def'), [pd.Period('2016-09'), pd.Period('2016-10'), pd.Period('2016-11')])
t2

2016-09    d
2016-10    e
2016-11    f
Freq: M, dtype: object

In [11]:
type(t2.index)

pandas.core.indexes.period.PeriodIndex

### Converting to Datetime

In [13]:
d1 = ['2 June 2013', 'Aug 29, 2014', '2015-06-26', '7/12/16']
ts3 = pd.DataFrame(np.random.randint(10, 100, (4,2)), index=d1, columns=list('ab'))
ts3

               a   b
2 June 2013   58  44
Aug 29, 2014  86  55
2015-06-26    79  18
7/12/16       79  46

In [14]:
np.random.randint?

In [15]:
ts3.index = pd.to_datetime(ts3.index) 
ts3

             a   b
2013-06-02  58  44
2014-08-29  86  55
2015-06-26  79  18
2016-07-12  79  46

In [16]:
pd.to_datetime('4.7.12', dayfirst=True)

Timestamp('2012-07-04 00:00:00')

### Timedeltas

In [17]:
pd.Timestamp('19/3/2019') - pd.Timestamp('30/4/1997')

Timedelta('7993 days 00:00:00')

In [21]:
pd.Timestamp('9/2/2016 8:10AM') + pd.Timedelta('12D 3H')

Timestamp('2016-09-14 11:10:00')

### Working with Dates in a Dataframe

In [22]:
dates = pd.date_range('10-01-2016', periods=9, freq='2W-SUN')
dates

DatetimeIndex(['2016-10-02', '2016-10-16', '2016-10-30', '2016-11-13',
               '2016-11-27', '2016-12-11', '2016-12-25', '2017-01-08',
               '2017-01-22'],
              dtype='datetime64[ns]', freq='2W-SUN')

In [23]:
df = pd.DataFrame({'Count 1': 100 + np.random.randint(-5, 10, 9).cumsum(),
                  'Count 2': 120 + np.random.randint(-5, 10, 9)}, index=dates)
df

            Count 1  Count 2
2016-10-02      101      124
2016-10-16      107      128
2016-10-30      106      116
2016-11-13      103      123
2016-11-27       99      115
2016-12-11       97      124
2016-12-25       99      127
2017-01-08      107      120
2017-01-22      102      123

In [24]:
df.index.weekday_name

Index(['Sunday', 'Sunday', 'Sunday', 'Sunday', 'Sunday', 'Sunday', 'Sunday',
       'Sunday', 'Sunday'],
      dtype='object')

In [25]:
df.diff()

            Count 1  Count 2
2016-10-02      NaN      NaN
2016-10-16      6.0      4.0
2016-10-30     -1.0    -12.0
2016-11-13     -3.0      7.0
2016-11-27     -4.0     -8.0
2016-12-11     -2.0      9.0
2016-12-25      2.0      3.0
2017-01-08      8.0     -7.0
2017-01-22     -5.0      3.0

In [26]:
df.diff?